/*!
 * LESS version of the stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Its intention is to
 * use kmom01.css and lessify the style and use this as a wrapper for the new
 * style.
 */
/**
 * Internal self contained modules, save in directory module/.
 */
/*!
 * Stylesheet for design kmom01.
 *
 * This stylesheet is for the design course and kmom01. Fill it with style
 * to style up the website so it is useable.
 */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Hide submenu, leave this to kmom02 */
.rm-desktop ul {
  display: none;
}
/* Hide responsive/mobile menu, leave this to kmom02 */
.rm-navbar-max {
  display: none;
}
.site-logo {
  display: none;
}
body {
  width: 100%;
}
.my-navbar {
  text-align: center;
}
li {
  display: inline;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 20px;
  padding: 15px;
}
li a {
  text-decoration: none;
}
.site-logo-text-icon {
  float: left;
  padding: 0;
  margin-bottom: -10px;
}
.site-logo-text {
  float: left;
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
}
.site-logo-text:hover {
  font-size: 17px;
  margin-right: -13px;
}
.region-flash img {
  display: block;
  width: 100%;
}
.region-flash {
  border: 1px red solid;
  width: 90%;
  margin-left: 5%;
  margin-top: 1%;
}
.outer-wrap-main {
  margin: auto 0;
  text-align: center;
  width: 90%;
  margin-left: 5%;
  border: 0.05px solid red;
  background-color: #1aadad;
}
h1 {
  margin: 5px 0;
}
.figure {
  margin: 10px 2px;
  display: inline-block;
}
p {
  margin: 10px 5px;
  line-height: 1.3em;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  float: left;
}
.left {
  margin: auto;
  margin-top: 1%;
  margin-bottom: 0;
  padding: 0;
  float: left;
  margin-left: 30%;
}
.block {
  border: 0.05px red solid;
  overflow: auto;
  text-align: center;
}
.region-footer {
  width: 100%;
  border: 0.05 outset red;
  text-align: center;
  display: block;
  height: 20%;
}
.column {
  float: left;
  width: 33.33%;
  margin: 2.5% 0;
  color: whitesmoke;
  border-style: none;
  display: block;
}
.site-footer {
  width: 50%;
  text-align: center;
  border-style: none;
  color: whitesmoke;
  margin-left: 25%;
}
.footer-column-wrapper {
  border: 0.05px solid red;
}
.inner-wrap-footer {
  background-color: #3b414f;
  text-align: center;
}
.footer-column-x {
  border-style: none;
  display: block;
}
ul {
  width: 90%;
  margin-left: 5%;
  padding: 0;
  text-align: center;
}
.toc {
  max-width: 100%;
  list-style: none;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  margin-bottom: 1px;
  margin-right: 0;
  min-height: 100vh;
}
.toc .level-1 {
  float: left;
  text-align: center;
  font-size: 1em;
}
.level-0 {
  float: left;
  padding-left: 0;
  padding-right: 0;
  font-size: 1em;
}
.toc .level-2 {
  font-size: 1em;
  float: left;
}
.toc .selected {
  border-bottom: inset 3px blue;
  border-top: inset 3px blue;
}
.toc a {
  color: brown;
}
ul li {
  display: inline;
}
.next {
  float: right;
  text-align: right;
  top: 0;
}
.previous {
  float: left;
  text-align: left;
}
.has-sidebar-left {
  display: inline-block;
}
main .has-sidebar {
  margin-left: 15%;
  width: 75%;
  top: 100px;
  height: auto;
}
div .region-sidebar-left {
  width: 15%;
  left: 0;
  float: left;
  height: 500px;
}
div .inner-wrap-main {
  min-height: 190vh;
}
.has-sidebar-right div {
  float: right;
  width: 15%;
  padding-top: 10px;
}
.has-sidebar-right article {
  display: block;
  width: 75%;
  float: left;
}
h1 {
  border-bottom: inset 1px black;
  padding: 5px 0;
}
main .has-sidebar {
  margin-left: 15%;
}
.section-header {
  padding-bottom: 1px;
  border-bottom: inset 1px black;
}
.region-main {
  max-width: 75%;
}
/**
 * Style for the stylechooser.
 */
/**
 * Variables
 */
/**
 * Style
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
/**
 * Base style to affect HTML elements on a general scale.
 */
html {
  overflow-y: scroll;
  background-color: #504b4b;
}
body {
  margin: 0;
  padding: 0;
  color: #290101;
  background-color: #504b4b;
  font: 100.01%/1 serif;
}
img {
  max-width: 100%;
}
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Layout style for general structure of header, navbar, main, footer
 * and other regions of the page including route specific styles.
 */
/**
 * Variables
 */
/**
 * General layout
 */
html,
body {
  height: 100%;
}
.inner-wrap {
  max-width: 1100px;
  margin: 0 auto;
}
.region-main {
  margin-left: 10%;
}
.region-footer {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.inner-wrap-footer {
  width: 100%;
  margin-right: 0;
}
.inner-wrap {
  max-width: 100%;
}
.has-sidebar {
  margin-left: 10px;
}
.outer-wrap,
.outer-wrap-main {
  height: 100%;
}
li .level-1,
li .level-2 {
  padding: 3px;
  margin: 5;
  text-align: center;
}
div .inner-wrap-main {
  overflow: auto;
  height: auto;
  min-height: auto;
  width: 100%;
}
.has-sidebar {
  margin-left: 0;
}
.next-previous {
  margin: 5px;
}
/**
div .block .toc{
    overflow-y: scroll;
}
*/
.my-navbar li a {
  color: red;
}
.has-sidebar-right .block {
  display: block;
  right: 0;
  width: 20%;
  margin-left: 10%;
  top: 0;
}
.inner-wrap-header {
  background-color: #3B414F;
  margin-bottom: 0;
  padding-bottom: 0;
}
.site-logo-text a {
  color: red;
}
ul li ul li {
  background: #3B414F;
  opacity: 1;
}
/**
 * Show off the regions used in the website, to ease styling.
 */
.regions .outer-wrap {
  background-color: #f4e3c9;
  border: 1px solid #e3b774;
}
.regions .inner-wrap {
  background-color: #f4e0e9;
  border: 1px solid #d995b4;
}
.regions .region-header-col-1,
.regions .region-header-col-2,
.regions .region-header-col-3,
.regions .region-flash,
.regions .region-breadcrumb,
.regions .region-flash-message,
.regions .region-columns-above,
.regions .region-main,
.regions .region-after-main,
.regions .region-columns-below,
.regions .region-sidebar-left,
.regions .region-sidebar-right,
.regions .region-footer,
.regions .region-footer-column-1,
.regions .region-footer-column-2,
.regions .region-footer-column-3 {
  background-color: #b5dce1;
  border: 1px solid #6cbac4;
  color: #111;
}
/**
 * My own settings, not currently in their own module.
 */
